/* ################# Global styles ################## */
body{
	margin: 0p;
	padding: 0p;
	font-family: cursive, sans-serif;
	background: #FFDCBE;	
}


/* ################ HTML TAG styles ################ */
header{
	width: 100%;
	height: 7%;
	align-content: center;
	background: #F0FFFF;
	padding: 2%;
}

footer{
	width: 100%;
	height: 7%;
	align-content: center;
	background: #F0FFFF;
	padding: 2%;
}

/* ############### ID styles ############## */
#newSearch{
	background-color: #f44336;
	color: black;
	width: 15%;
	length: 5%;
	padding: 1%;
	border-radius: 12px;
	margin: 2%; 
}